<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>techsupport-webapp</display-name>
  <servlet>
  	<servlet-name>CommentCreate</servlet-name>
  	<servlet-class>pl.chelm.pwsz.techsupport.web.CommentCreate</servlet-class>
  </servlet>
  <!--
  <servlet>
  	<servlet-name>CommentDestroy</servlet-name>
  	<servlet-class>pl.chelm.pwsz.techsupport.web.CommentDestroy</servlet-class>
  </servlet>
  -->
  <servlet>
  	<servlet-name>IssueCreate</servlet-name>
  	<servlet-class>pl.chelm.pwsz.techsupport.web.IssueCreate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IssueRead</servlet-name>
  	<servlet-class>pl.chelm.pwsz.techsupport.web.IssueRead</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IssueUpdateAssignTag</servlet-name>
  	<servlet-class>pl.chelm.pwsz.techsupport.web.IssueUpdateAssignTag</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IssueUpdateUnassignTag</servlet-name>
  	<servlet-class>pl.chelm.pwsz.techsupport.web.IssueUpdateUnassignTag</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MemberCreate</servlet-name>
  	<servlet-class>pl.chelm.pwsz.techsupport.web.MemberCreate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionCreate</servlet-name>
    <servlet-class>pl.chelm.pwsz.techsupport.web.SessionCreate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SessionDestroy</servlet-name>
    <servlet-class>pl.chelm.pwsz.techsupport.web.SessionDestroy</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TagCreate</servlet-name>
    <servlet-class>pl.chelm.pwsz.techsupport.web.TagCreate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>pl.chelm.pwsz.techsupport.web.Home</servlet-class>
  </servlet>
  <!--
  <servlet>
    <servlet-name>TagUpdate</servlet-name>
    <servlet-class>pl.chelm.pwsz.techsupport.web.TagUpdate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TagDestroy</servlet-name>
    <servlet-class>pl.chelm.pwsz.techsupport.web.TagDestroy</servlet-class>
  </servlet>
  -->
  <servlet-mapping>
    <servlet-name>CommentCreate</servlet-name>
    <url-pattern>/comment/create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IssueCreate</servlet-name>
    <url-pattern>/issue/create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IssueRead</servlet-name>
    <url-pattern>/issue</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IssueUpdateAssignTag</servlet-name>
    <url-pattern>/issue/update/tag/assign</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IssueUpdateUnassignTag</servlet-name>
    <url-pattern>/issue/update/tag/unassign</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberCreate</servlet-name>
    <url-pattern>/member/create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionCreate</servlet-name>
    <url-pattern>/session/create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionDestroy</servlet-name>
    <url-pattern>/session/destroy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TagCreate</servlet-name>
    <url-pattern>/tag/create</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <!--
    Prevent the visiting of MVC Views from outside the servlet container.
    RequestDispatcher.forward/include should and will still work.
    Removing this may open security holes!
  -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>JSP.</web-resource-name>
      <url-pattern>*.jsp</url-pattern>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>HTML documents.</web-resource-name>
      <url-pattern>*.html</url-pattern>
      <url-pattern>*.htm</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <!-- Nobody is allowed to visit these -->
    </auth-constraint>
  </security-constraint>
</web-app>
